<MARQUEE> <span style="font-style:italic;">Thời gian làm việc từ 8h:30 đến 17h:50 các ngày trong tuần trừ chủ nhật.<a href="localhost:3000" target="_blank">iShop</a> </span></MARQUEE>
<br/>    
<div class="navbar-inner">
      <div id="fat-menu" class="dropdown">
              <ul><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <t1>Sắp xếp theo giá</t1>
                 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Giá từ thấp đến cao",price_by_asc_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Giá từ cao xuống thấp",price_by_desc_path %></li>
                  </ul>
              <t1><%= link_to "Mới cập nhật",newupdate_path %></t1>
                  </ul>
      </div>
      <div>

      </div>
</div>


              
  